{{>adminHeaderCustomers}}
<div class="customer-admin-wrapper">

<div class="admin-headlines">
            <h2 class="customers"><a href="/admin/customers">Customers</a> </h2>
            <h2><a href="/admin/employees">
                    Employees</a></h2>
        </div>


  <h3>Customer</h3>

  <form>
    <select
      name="selectedList"
      id="selectedList"
      value="Choose"
      onchange="document.location.href = '/admin/customers/' + this.value"
    >
      <option value="" disabled selected hidden>{{userInfo.name}}</option>
      {{#each allCustomers}}

        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </form>

{{#if userInfo}}
 

  <h3>Schedule</h3>
  {{#if bookingInfo}}

    <div class="customer-admin-table">
      <table class="customer-admin-styled">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Cleaner</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {{#each bookingInfo}}
            <tr>
              <td>{{date}}</td>
              <td>{{time}}</td>
              <td>{{cleaner.name}}</td>
              <td><a
                  href="/admin/{{_id}}/deletebooking"
                  class="cancelBtn"
                >Cancel</a></td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>

  {{else}}
<h4>{{userInfo.name}} have no bookings</h4>
  {{/if}}

  <h3>Information</h3>
  <div class="customer-admin-details">



<form action="/admin/customers/{{userInfo._id}}/edit" method="post">
<input type="text" name="email" value="{{userInfo.email}}">
<input type="text" name="name" value="{{userInfo.name}}">
<input type="text" name="adress" value="{{userInfo.adress}}">
<input type="text" name="phone" value="{{userInfo.phone}}">
<input type="submit" value="Edit account">
</form>


{{!-- 
    <div class="mail-name">
      <div>
        <h4>Email</h4>
        <p>{{userInfo.email}}</p>
      </div>
      <div>
        <h4>Adress</h4>
        <p>{{userInfo.adress}}</p>
      </div>
    </div>

    <div class="adress-phone">
      <div>
        <h4>Name</h4>
        <p>{{userInfo.name}}</p>
      </div>
      <div>
        <h4>Phone</h4>
        <p>{{userInfo.phone}}</p>

      </div>
    </div> --}}

  </div>


  <a href="/admin/{{userInfo._id}}/deleteaccount" class="deleteBtn">Delete
    account</a>

    {{else}}

    {{/if}}



</div>