<div class="customer-admin-wrapper">

  <h3>Customer</h3>

  <form action="/admin/customers" method="post">
    <select
      name="selectedList"
      id="selectedList"
      value="Choose"
      onchange="this.form.submit()"
    >
      <option value="" disabled selected hidden>Choose customer...</option>
      {{#each allCustomers}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </form>

  <h3>Schedule</h3>
  {{#if bookingInfo}}

    <div class="customer-admin-table">
      <table class="customer-admin-styled">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Cleaner</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {{#each bookingInfo}}
            <tr>
              <td>{{date}}</td>
              <td>{{time}}</td>
              <td>{{cleaner.name}}</td>
              <td><a href="/xxxx/{{_id}}/xxxx" class="cancelBtn">Cancel</a></td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>

  {{else}}

    <h3>No schedules cleanings exists</h3>

  {{/if}}

  <h3>Information</h3>

  <div class="customer-admin-details">

    {{#each selectedUser}}
      <div class="mail-name">
        <div>
          <h4>Email</h4>
          <p>{{email}}</p>
        </div>
        <div>
          <h4>Adress</h4>
          <p>{{adress}}</p>
        </div>
      </div>
    {{/each}}

    {{#each selectedUser}}
      <div class="adress-phone">
        <div>
          <h4>Name</h4>
          <p>{{name}}</p>
        </div>
        <div>
          <h4>Phone</h4>
          <p>{{phone}}</p>
        </div>
      </div>
    {{/each}}

  </div>

  <form action="/admin/customer" method="post">
    <input type="submit" value="Edit account" class="editBtn" />
  </form>

  <form action="/admin/customer" method="post">
    <input type="submit" value="Delete account" class="deleteBtn" />
  </form>

</div>