<div class="customer-wrapper">

  <div class="customer-headlines">
    <h2 class="scheduledCleanings"><a href="/customer/mypage">Scheduled
        cleanings</a>
    </h2>
    <h2><a href="/customer/mypage/myaccount">My account</a></h2>
  </div>

  {{#if bookings}}

    <div class="customer-table">
      <table class="customer-styled">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Cleaner</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {{#each bookings}}
            <tr>
              <td>{{date}}</td>
              <td>{{time}}</td>
              <td>{{cleaner.name}}</td>
              <td><a
                  href="/customer/{{_id}}/remove"
                  class="cancelBtn"
                >Cancel</a></td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>

  {{else}}
    <h2>You don't have any scheduled cleanings</h2>
  {{/if}}

</div>